<h3>Fundings</h3>
<p align="center"><a href="https://www.pasteur.fr/en"><img src="_images/Institut_Pasteur.png" alt="Institut Pasteur" width="150px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/FRM_logo_hdef.jpg" alt="FRM" width="110px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/1012px-CNRS_fr_quadri.svg.png" alt="CNRS" width="100px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/logo-sfari-bis.png" alt="SFARI" width="150px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/RDB.png" alt="Robert Debre Hospital" width="150px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/fbs.png" alt="Fondation Bettencourt Schueller" width="150px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/hbp.png" alt="Human Brain Project" width="150px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/cognacqjay.png" alt="Fondation Cognacq-Jay" width="150px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/genmed.png" alt="GenMed" width="150px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/cosyn-logo.jpg" alt="CoSyn" width="150px" /></a></p>
<br/>
<p align="center"><a href=""><img src="_images/connymaeva.png" alt="The Conny-Maeva Charitable Foundation" width="150px" /></a></p>
